@import "mixins", "variables"

$about-shop-breakpoint: 670px
$subscribe-breakpoint: 640px
$subscribe-mobile-breakpoint: 520px
$hover-background-color: darken($primary-color, 5%)

.wrappers
  position: relative
  max-width: 1200px
  height: auto
  margin: 0 auto
  +respond-to(phone)
    display: none
  +respond-to(tablet)
    width: auto

video
  width: 100%
  background-color: #fff
  visibility: hidden

.video-wrapper
  max-height: 440px
  
.main-photo-wrapper
  position: absolute
  top: 0
  left: 0
  opacity: 0
  
.main-photo-wrapper--show
  opacity: 1

  
/********************BUTTONS****************/
  
.add-btn
  font-size: $content-font-size
  line-height: 12px
  position: relative
  display: inline-block
  vertical-align: baseline
  color: #fff
  background-color: $primary-color
  padding: 10px 33px 9px 10px
  margin-bottom: 11px
  border-bottom: 3px solid $shadow-primary-color
  &:hover
    background-color: $hover-background-color
  &:active
    background-color: $shadow-primary-color

.add-btn::before
  position: absolute
  content: ""
  +center-vert(11px)
  right: 16px
  width: 3px
  height: 11px
  transform: rotate(-90deg)
  background-color: #fff
  
.add-btn::after
  @extend .add-btn::before
  transform: rotate(0deg) 
  
.shop-btn
  position: absolute
  bottom: 74px
  left: 274px
  font-size: 16px
  line-height: 16px
  padding: 22px 47px 18px 22px
  text-transform: uppercase
  
.shop-btn.add-btn::before
  content: ""
  position: absolute
  +center-vert($arrow-size)
  right: 18px
  border: $arrow-size solid transparent
  border-left: $arrow-size solid #fff
  display: block
  width: 0
  height: 0
  transform: none
  background-color: transparent

.shop-btn.add-btn
  margin-bottom: 0
//*******************Subscribe form and social life********
$contacts-height: 28px
$mobile-contacts-height: 47px

.contacts
  background-color: #ededed
  margin-top: 42px
  color: #6b6b6b
  font-size: 0
  +respond-to(phone)
    margin-top: 0
  +respond-to($subscribe-breakpoint)
    background-color: #fff
    padding-bottom: 13px
  
.contacts .container
  height: 55px
  +respond-to($subscribe-breakpoint)
    height: 105px
  
.subscribe
  display: inline-block
  vertical-align: top
  padding-top: 13px
  padding-bottom: 13px    
  +respond-to($subscribe-breakpoint)
    padding-top: 0
  +respond-to($subscribe-mobile-breakpoint)
    position: relative
    display: block
    height: 47px
  
.subscribe__title
  font-size: $content-font-size
  margin-right: 10px
  +respond-to($subscribe-breakpoint)
    display: none

.subscribe__email
  font-size: $content-font-size
  line-height: $contacts-height
  width: 110px
  height: $contacts-height
  padding-left: 10px
  padding-right: 10px
  +respond-to($subscribe-breakpoint)
    width: 237px
    background-color: #ededed
    height: $mobile-contacts-height
    //line-height: $mobile-contacts-height
  +respond-to($subscribe-mobile-breakpoint)
    width: 100%
    box-sizing: border-box
    padding-right: 57px
    
  
[placeholder]
  color: #9f9f9f
  font-style: italic
  +respond-to($subscribe-breakpoint)
    font-size: 15px
  
.subscribe__submit-btn
  position: relative
  vertical-align: top
  background-color: $primary-color
  width: 28px
  height: $contacts-height
  border-bottom: 3px solid $shadow-primary-color
  +respond-to($subscribe-breakpoint)
    width: 47px
    height: $mobile-contacts-height
  +respond-to($subscribe-mobile-breakpoint)
    position: absolute
    right: 0


.desktop .subscribe__submit-btn
  &:hover
    background-color: $hover-background-color
  &:active
    background-color: $shadow-primary-color
 
.ie9 .subscribe__submit-btn
  width: 140px
  font-size: $content-font-size
  color: #fff
  padding-top: 3px
    
.subscribe__submit-btn::before
  position: absolute
  content: ""
  +center-vert(11px)
  +center-horizont(3px)
  width: 3px
  height: 11px
  transform: rotate(-90deg)
  background-color: #fff

.ie9 .subscribe__submit-btn::before
  display: none
  
.subscribe__submit-btn::after
  @extend .subscribe__submit-btn::before
  transform: rotate(0deg) 

.contacts__social-life
  float: right
  +respond-to($subscribe-mobile-breakpoint)
    float: none
    text-align: center

.contacts__social-life span
  padding-left: 15px
  padding-right: 15px
  font-size: $content-font-size
  line-height: 55px
  +respond-to($subscribe-breakpoint)
    font-size: 13px
    padding-left: 0
    line-height: 43px
  +respond-to(609px)
    display: none
  +respond-to($subscribe-mobile-breakpoint)
    display: inline-block
  
  
.contacts__social-life ul,
.contacts__social-life li 
  display: inline-block
  vertical-align: top
  
.icon
  display: block
  opacity: .8
  font-size: $content-font-size // нужно для оторбражения title

.desktop .icon:hover
  opacity: 1
  

.contacts__social-life-icon-fb 
  +sprite($facebook-icon)
  +respond-to($subscribe-breakpoint)
    +sprite($mobile-facebook-icon)

  
.contacts__social-life-icon-tw 
  +sprite($twitter-icon)
  +respond-to($subscribe-breakpoint)
    +sprite($mobile-twitter-icon)


.contacts__social-life-icon-pinterest
  +sprite($pinterest-icon)
  +respond-to($subscribe-breakpoint)
    +sprite($mobile-pinterest-icon)


//*******************Collection navigation in images********
.collections
  font-size: 0
  +respond-to($subscribe-breakpoint)
    display: none
  
.collections .container
  padding-top: 42px
  padding-bottom: 50px

.collections-link
  display: inline-table
 
.desktop .collections-link:hover
  opacity: .7

.collection-1
  float: left
  margin-right: 1px

.collection-2
  margin-bottom: 2px

.collection-3
  margin-right: 2px
  
  
//*********************Item card for collections********


.collection-item
  position: relative
  width: 220px
  display: inline-block
  vertical-align: top
  margin-right: 30px / 970px * 100%
  text-align: center
  text-transform: uppercase
  background-color: $panel-background-color
  
.desktop .collection-item:hover
  transform: scale(1.05)
  box-shadow: 0 5px 18px 0 #393939

.desktop .collection-item:hover .collection-item__image::after
  position: absolute
  top: 75px
  +center-horizont($item-hover-icon-width)
  content: ""
  display: block
  +sprite($item-hover-icon)
  
.collection-item__title
  font-size: $content-font-size
  line-height: 14px
  display: block
  cursor: pointer
  padding-top: 11px
  &:hover
    text-decoration: underline
  
.collection-item__price
  display: block
  font-size: 22px
  line-height: 24px
  padding-top: 7px
  padding-bottom: 7px
  
.sale::before
  position: absolute
  top: 0
  left: 0
  content: ""
  +sprite($sale-icon)
  
  
//******************Gallery collection******


.gallery-collection__navigation
  font-size: 0
  margin-left: 115px
  
.gallery-collection__navigation li
  display: inline-block
  vertical-align: top

.gallery-collection__navigation-link
  display: block
  font-size: 15px
  color: $primary-text-color
  text-transform: uppercase
  background-color: #fff
  padding: 18px 20px

.desktop .gallery-collection__navigation-link:hover
  background-color: $primary-color
  
.gallery-collection__navigation-link--active
  background-color: $primary-color
  color: #fff
  
.gallery-collection-items
  font-size: 0
  padding-top: 30px
  padding-bottom: 30px
  background-color: $primary-color
  white-space: nowrap
  overflow: scroll
  
  
//**************Clearence collection******
.clearence-collection

  
.clearence-collection .container
  padding-top: 105px
  
.clearence-collection__title-container 
  position: relative
  
.clearence-collection__title
  position: absolute
  +center-vert(157px)
  +center-horizont(190px)
  +sprite($clearence-icon)
  background-color: #fff
  z-index: 2

.clearence-collection__title-container::after
  content: ""
  display: block
  position: absolute
  top: 0
  left: 0
  height: 1px
  width: 100%
  background-color: #d8d8d8
  z-index: 1

.clearence-collection-items
  padding-top: 105px
  padding-bottom: 48px
  height: 398px
  font-size: 0
  text-align: center
  +respond-to(999px)
    overflow: hidden

.clearence-collection-item
  margin-bottom: 48px
  +respond-to(967px)
    &:nth-child(3n)
      margin-right: 0
  
.clearence-collection-item:nth-child(4n)
  margin-right: 0

.clearence-collection-item__info img
  width: 220px
  height: 290px
  

//**************Favourite brands******


.favourite-brands
  position: relative
  margin-top: 20px
  border-bottom: 1px solid #d8d8d8

.favourite-brands .container
  padding-bottom: 22px
  padding-top: 22px
  font-size: 0
  +respond-to($about-shop-breakpoint)
    display: none
  
.favourite-brands__title
  position: absolute
  top: -8px
  +center-horizont(190px)
  font-size: 15px
  text-align: center
  text-transform: uppercase
  width: 190px
  background-color: #fff
  z-index: 2

.favourite-brands__title-container::after
  @extend .clearence-collection__title-container::after

.favourite-brands__list
  width: 100%
  text-align: center
  height: 57px
  overflow: hidden

.favourite-brands__icons
  display: inline-block
  vertical-align: middle
  margin-left: 23px / 970px * 100%
  margin-right: 23px / 970px * 100%
 
.favourite-brands__icons:first-child
  margin-left: 0
  
.favourite-brands__icons:last-child
  margin-right: 0
  
.favourite-brands__icon_addict
  +sprite($addict)
  
.favourite-brands__icon_abandon-ship
  +sprite($abandon-ship)
  
.favourite-brands__icon_adidas
  +sprite($adidas)
  
.favourite-brands__icon_boy-london
  +sprite($boy-london)
 
.favourite-brands__icon_converse
  +sprite($converse)
  
.favourite-brands__icon_calvin-klein
  +sprite($calvin-klein)
  
.favourite-brands__icon_edwin
  +sprite($edwin)
  
.favourite-brands__icon_grenson
  +sprite($grenson)

  
//**************About shop text******


.about-shop .container
  padding-top: 25px
  padding-bottom: 25px
  +respond-to($about-shop-breakpoint)
    display: none
  
.about-shop__title
  font-size: 24px
  text-align: center
  margin-bottom: 12px
  
.about-shop p
  text-align: center
  font-size: 14px
  line-height: 18px
  color: #999999