@import "mixins", "variables"
 
$main-footer-bottom-text-color: #8d8d8d
$footer-for-services-breakpoint: 990px
$footer-breakpoint: 670px
$main-footer-top-header-color: #544f4d
$main-footer-top-link-color: #a2a1a0
$mobile-footer-bottom-padding: 13px


//********Credit Cards*****

.credit-cards
  background-color: #f7f7f7
  padding-top: 20px
  padding-bottom: 20px
  color: #c7c7c7
  font-size: 0
  text-align: center
  +respond-to($footer-breakpoint)
    display: none
  
.credit-cards__list
  display: inline-block
  vertical-align: middle
  font-size: $content-font-size
  margin-right: 12px

.visa
  +sprite($visa)

.mastercard
  +sprite($mastercard)
  
.paypal
  +sprite($paypal)
  
.american-express
  +sprite($americanexpress)
  
.visa-electron
  +sprite($visaelectron)
  
.laser
  +sprite($laser)
  
.maestro
  +sprite($maestro)
  
.delta
  +sprite($delta)
  
.solo
  +sprite($solo)
  
.id
  +sprite($id)
  
.dk
  +sprite($dk)

  
//********Footer service*****


.main-footer--top
  padding-top: 35px
  padding-bottom: 35px
  background-color: #ededed
  font-size: 0
  +respond-to(phone)
    display: none
  +respond-to($footer-for-services-breakpoint)
    padding-bottom: 0
  
.main-footer--top--wrapper
  display: inline-block
  width: 640px / 940px * 100%
  +respond-to($footer-for-services-breakpoint)
    width: 59%

.main-footer--top__wrapper-of-services, 
.main-footer--top__wrapper-of-socials
  display: inline-block
  vertical-align: top
  font-size: 16px

  
.main-footer--top__wrapper-of-services
  margin-right: 49px
  +respond-to($footer-for-services-breakpoint)
    padding-bottom: 35px
    width: 160px

.main-footer--top__list-header
  color: $main-footer-top-header-color
  font-weight: bold
  margin-bottom: 17px
  
.main-footer--top__link
  color: $main-footer-top-link-color
  font-weight: normal
  font-size: $content-font-size
  line-height: 18px
  &:hover
    color: $main-footer-top-header-color
  &:after
    color: $main-footer-top-link-color
  
.main-footer--top__wrapper-of-socials
  width: 300px
  
//icon main-footer--top__social-icon icon__twitter

.main-footer--top__list-if-icons
  display: inline-block
  vertical-align: top
  width: 135px
  font-size: 0
  margin-right: 53px
  
.main-footer--top__list-if-icons li
  display: inline-block
  vertical-align: top
  margin-right: 10px
  margin-bottom: 10px

.main-footer--top__social-icon
  display: block
  opacity: .9
  &:hover
    opacity: 1
  &:active
    opacity: .9

.icon__twitter
  +sprite($twitter-icon-footer)
  
.icon__pinterest
  +sprite($pinterest-icon-footer)
  
.icon__facebook
  +sprite($facebook-icon-footer)
  
.icon__googleplus
  +sprite($googleplus-icon-footer)
  
.icon__tumblr
  +sprite($tumblr-icon-footer)
  
.icon__vimeo
  +sprite($vimeo-icon-footer)
  
.secured-quarantee
  display: inline-block
  margin-top: -15px
  +sprite($secured-quarantee)
  
  
//********Footer bottom*****


.main-footer--bottom
  .container
    overflow: hidden
    position: relative

.main-footer--bottom
  padding-top: 20px
  padding-bottom: 20px
  background-color: $top-and-bottom-background-color
  color: $main-footer-bottom-text-color
  font-size: $content-font-size
  height: 35px
  +respond-to(phone)
    padding-top: $mobile-footer-bottom-padding
    padding-bottom: $mobile-footer-bottom-padding
    height: auto

.footer__burger-menu
  display: none
  +retina-sprite($mobile-burger-icon-group)
  margin-top: 9px
  margin-bottom: 9px
  +respond-to($footer-breakpoint)
    display: block

.service
  display: inline-block
  line-height: 35px
  +respond-to($footer-breakpoint)
    margin-top: 20px
    display: none
  
.service__link
  position: relative
  color: $main-footer-bottom-text-color
  padding-right: 21px
  &:hover
    color: #fff
  &:active
    color: $main-footer-bottom-text-color
  +respond-to($footer-breakpoint)
    display: block
  &::after
    position: absolute
    content: ""
    +center-vert(10px)
    left: -10px
    width: 1px
    height: 10px
    background-color: $main-footer-bottom-text-color
 
.service__link:first-child::after
  display: none
  
.service__link::after
  +respond-to($footer-breakpoint)
    display: none
  
.copyright
  position: absolute
  top: 0
  right: 0
  line-height: 18px
  text-align: right
  +respond-to(tablet)
    right: 15px
  +respond-to(phone)
    right: 15px

