@import "mixins", "variables"

$header-top-border: 1px solid #666 
$header-text-color: #f3f2f2
$header-text-color-hover: #fff
$header-text-color-active: #666
$search-button-size: 30px
$mobile-search-button-size: 49px
$header-top-breakpoint: 670px
$header-bottom-breakpoint: 880px


.main-header-top
  background-color: $top-and-bottom-background-color
  text-transform: uppercase
  font-size: $content-font-size
  color: $header-text-color
  line-height: 30px
  min-height: 30px
  +respond-to($header-top-breakpoint)
    font-size: 15px
    
.main-header-top 
  .container
    +respond-to($header-top-breakpoint)
      padding: 0

.main-header-top__tel
  float: left
  +respond-to($header-top-breakpoint)
    float: none
    background-color: $panel-background-color
    color: #838383
    text-align: center
    line-height: 47px

.main-header-top__tel a
  color: $header-text-color
  +respond-to($header-top-breakpoint)
    color: #838383

.main-header-top__info
  float: right
  border-left: $header-top-border
  border-right: $header-top-border
  font-size: $content-font-size
  height: 30px
  +respond-to($header-top-breakpoint)
    float: none
    border: none
    line-height: 49px
    height: auto
    font-size: 15px

.main-header-top__currency,
.main-header-top__account,
  float: left

//****************SEARCH-FORM********
.main-header-top__search-form
  float: right
  position: relative
  border-left: $header-top-border
  cursor: pointer
  width: $search-button-size
  height: $search-button-size
  overflow: hidden
  +respond-to($header-top-breakpoint)
    width: $mobile-search-button-size
    height: $mobile-search-button-size
  &.open
    $animation-settings: .4s ease-in
    transition: width $animation-settings
    width: 170px
    +respond-to($header-top-breakpoint)
      float: none
      clear: both
      transition: none
      width: 100%
      border-left: 0
    input
      appearance: none
      box-sizing: border-box
      width: 100%
      padding-left: 10px
      padding-right: 10px + $search-button-size
  input, button
    display: block
    position: absolute
    top: 0
  input
    left: 0
    right: $search-button-size
    width: 0
    height: $search-button-size
    background-color: $panel-background-color
    color: $primary-text-color
    font-size: 15px
    +respond-to($header-top-breakpoint)
      height: $mobile-search-button-size
      font-size: 18px
  button
    right: 0
    width: $search-button-size
    height: $search-button-size
    background-color: $top-and-bottom-background-color
    cursor: pointer
    +respond-to($header-top-breakpoint)
      width: $mobile-search-button-size
      height: $mobile-search-button-size
    &::after
      position: absolute
      content: ""
      +center-vert($search-icon-height)
      +center-horizont($search-icon-width)
      +sprite($search-icon)
      +respond-to($header-top-breakpoint)
        +retina-sprite($mobile-search-icon-group)
        +center-vert($mobile-search-icon-height)
        +center-horizont($mobile-search-icon-width)

//****************CURRENCY********
.main-header-top__currency
  position: relative
  color: $header-text-color
  background-color: $top-and-bottom-background-color
  text-transform: none
  border-right: $header-top-border
  z-index: 2

.main-header-top__currency--current
  padding-left: 10px
  padding-right: 30px
  border: none
  cursor: pointer
  user-select: none
  &:hover
    color: $header-text-color-hover
  
.main-header-top__currency--current::after
  content: ""
  position: absolute
  +center-vert($arrow-size)
  right: 11px
  border: $arrow-size solid transparent
  border-top: $arrow-size solid #c1c1c1
  display: block

.main-header-top__currency--current:hover::after
  border-top: $arrow-size solid #fff

.main-header-top__currency-menu
  display: none
  position: absolute
  width: 100%
  a
    display: block
    padding-left: 10px
    padding-right: 10px
    color: $header-text-color
    background-color: $top-and-bottom-background-color
    font-size: $content-font-size
    outline: none
    &:hover
      color: $header-text-color-hover
    &:active
      color: $header-text-color-active
    +respond-to($header-top-breakpoint)
      font-size: 15px
 

//****************ACCOUNT********
.main-header-top__account
  position: relative
  padding-left: 38px
  padding-right: 22px
  color: $header-text-color
  +respond-to($header-top-breakpoint)
    padding-left: 45px
  &:hover
    color: $header-text-color-hover
  &:active
    color: $header-text-color-active 
  &::after
    position: absolute
    content: ""
    +sprite($account-icon)
    top: 50%
    margin-top: -7px
    left: 14px
    +respond-to($header-top-breakpoint)
      +retina-sprite($mobile-account-icon-group)
      +center-vert($mobile-account-icon-height)
      left: 16px

//**********MAIN-HEADER-BOTTOM***********
.main-header-bottom
  padding-top: 20px
  padding-bottom: 20px
  font-size: 0
  +respond-to(phone)
    padding-bottom: 14px
  
.main-header-bottom
  .container
    position: relative
    min-height: 67px

    
.logo
  display: inline-block
  vertical-align: top
  margin-top: 20px
  +sprite($logo)
  +respond-to(phone)
    +retina-sprite($mobile-logo-group)
    display: block
    margin: 9px auto 29px    
    
$desktop-padding-in-navigation: 10px
$mobile-padding-vert: 19px
$mobile-padding-hor: 14px

.main-navigation
  position: absolute
  right: 218px
  +center-vert(18px)
  font-size: 16px
  line-height: 18px
  +respond-to($header-bottom-breakpoint)
    position: static
    display: block
    border: 1px solid $primary-color
    clear: right
    margin-top: 0

.main-navigation h3
  display: none
  +respond-to($header-bottom-breakpoint)
    position: relative
    display: block
    background-color: $primary-color
    font-size: 15px
    color: #fff
    text-transform: uppercase
    padding: $mobile-padding-vert $mobile-padding-hor
    &::after
      @extend .main-header-top__currency--current::after
      right: $mobile-padding-hor
      border-top: $arrow-size solid #fff
    
.main-navigation__list
  +respond-to($header-bottom-breakpoint)
    display: none
    
.main-navigation__list > li
  display: inline-block
  vertical-align: top
  +respond-to($header-bottom-breakpoint)
    display: block
    position: relative

.main-navigation__link, .main-navigation__sublink
  display: block
  color: $primary-text-color
  padding-bottom: $desktop-padding-in-navigation
  +respond-to($header-bottom-breakpoint)
    padding-left: $mobile-padding-hor
    padding-top: $mobile-padding-vert
    padding-bottom: $mobile-padding-vert
  &:active
    color: $primary-text-color
  
.desktop .main-navigation__link:hover,
.desktop .main-navigation__sublink:hover
    color: $primary-color
  
.main-navigation__link
  padding-right: 25px
  +respond-to($header-bottom-breakpoint)
    background-color: #fdb095
    border-bottom: 1px solid $primary-color
  
.main-navigation__link::after
  content: ""
  display: inline-block
  vertical-align: top
  border: $arrow-size solid transparent
  border-top: $arrow-size solid $primary-text-color
  margin-left: 5px
  margin-top: 7px
  +respond-to($header-bottom-breakpoint)
    position: absolute
    right: $mobile-padding-hor
    
.desktop .main-navigation__link:hover::after
  border-top: $arrow-size solid $primary-color

.main-navigation__sublist
  position: absolute
  display: none
  margin-left: -$desktop-padding-in-navigation
  z-index: 2
  +respond-to($header-bottom-breakpoint)
    position: static
    margin-left: 0

.main-navigation__sublink
  background-color: #fff
  padding-top: $desktop-padding-in-navigation
  padding-left: $desktop-padding-in-navigation
  padding-right: 27px
  border-bottom: 1px solid #f1f1f1
  +respond-to($header-bottom-breakpoint)
    background-color: #f7f7f7
    padding-left: 25px
    padding-top: $mobile-padding-vert
    border-bottom: 1px solid #fdb095
    
//*******************CART***************   
$desktop-cart-padding: 8px
$desktop-cart-height: 32px
$mobile-cart-height: 48px

.cart
  position: relative
  float: right
  width: 218px
  font-size: $content-font-size
  margin-bottom: 20px
  +respond-to(phone)
    float: none
    margin-bottom: 13px
    width: 100%

.cart-header
  position: relative
  font-size: $content-font-size
  padding-left: $desktop-cart-padding
  line-height: $desktop-cart-height
  color: #c1c1c1
  cursor: pointer
  border: 1px solid #d6d6d6
  background-color: #fff
  +respond-to(phone)
    line-height: $mobile-cart-height
    font-size: 15px
    padding-left: $mobile-padding-hor
  &::after
    @extend .main-header-top__currency--current::after
    top: $desktop-cart-height/2
    right: $desktop-cart-padding
    +respond-to(phone)
      top: $mobile-cart-height/2
      right: $mobile-padding-hor
    
.desktop .cart-header:hover
  color: $primary-text-color
  
.cart-header:hover::after
  border-top: $arrow-size solid #c1c1c1

.desktop .cart-header:hover::after
  border-top: $arrow-size solid $primary-text-color
  
.cart-items 
  position: absolute
  display: none
  width: 218px
  background-color: #fff
  z-index: 5
  +respond-to(phone)
    width: 100%

.cart-items__list
  color: $primary-text-color
  padding-left: $desktop-cart-padding
  border: 1px solid #d6d6d6
  border-top: 0
  +respond-to(phone)
    padding-left: $mobile-padding-hor

.cart-items__name
  line-height: $desktop-cart-height
  +respond-to(phone)
    line-height: $mobile-cart-height

.cart-items__price
  float: right
  padding-right: $desktop-cart-padding
  padding-top: $desktop-cart-padding
  +respond-to(phone)
    padding-top: 17px
    padding-right: $mobile-padding-hor

.cart__information
  display: block
  position: relative
  border: 1px solid #d6d6d6
  border-top: 0
  text-transform: uppercase
  height: $desktop-cart-height
  color: #b3b3b3
  background-color: $panel-background-color
  +respond-to(phone)
    height: $mobile-cart-height
  &::before
    position: absolute
    content: ""
    +sprite($cart-icon)
    +center-vert($cart-icon-height)
    left: $desktop-cart-padding
    +respond-to(phone)
      +retina-sprite($mobile-cart-icon-group)
      +center-vert($mobile-cart-icon-height)
      left: $mobile-padding-hor
  span
    float: right
    line-height: $desktop-cart-height
    padding-right: $desktop-cart-padding
    +respond-to(phone)
      line-height: $mobile-cart-height
      padding-right: $mobile-padding-hor
      
.desktop .cart__information
  &:hover
    background-color: darken(#fafafa, .9)
  &:active
    background-color: #fafafa
  
.cart__information .cart-items-cost
  position: relative
  +respond-to(phone)
  &::after
    position: absolute
    content: ""
    +center-vert(10px)
    left: -$desktop-cart-padding/2
    width: 1px
    height: 10px
    background-color: #b3b3b3
    +respond-to(phone)
      left: -$mobile-padding-hor/2
