=respond-to($media)
  @if $media == phone
    @media only screen and (min-width: 320px) and (max-width: 767px)
      @content
  @else if $media == tablet
    @media only screen and (min-width: 768px) and (max-width: 1024px)
      @content
  @else
    @media only screen and (max-width: $media)
      @content
      
=center-vert($height)
  top: 50%
  margin-top: -$height/2
  
=center-horizont($width)
  left: 50%
  margin-left: -$width/2