@import variables
  
  
.no-js
  .main-header-top__search-form
    @extend .main-header-top__search-form.open
  .main-header-top__currency
    display: none
    
.no-js
  .cart-header
    display: none
  .cart__information
    border-top: 1px solid #d6d6d6
    margin-top: 17px
    
.no-js
  .main-header-bottom .container
    overflow: hidden
  .main-navigation
    position: static
    float: right
    margin-top: 25px
    +respond-to($header-bottom-breakpoint)
      float: none
      margin: 0 auto
  .main-navigation__list
    margin-bottom: 10px
    +respond-to($header-bottom-breakpoint)
      display: block
  .main-navigation__sublist
    position: static
    display: block
  .main-navigation__sublink
    border: 0

.no-js
  .service-links
    +respond-to($footer-breakpoint)
    display: block
  
.no-js
  .main-photo-wrapper
    opacity: 1