html, body, ul, input, h2, h3, h4, p
  margin: 0
  padding: 0

input, button
  outline: none
  border: none
  border-radius: 0
  
a
  text-decoration: none

ul
  list-style: none
  
h2, h3, h4
  font-weight: normal
  font-size: inherit