@import normalize.css/normalize
@import reset

@import "mixins", "variables"


@import "sprite", "sprite-mobile"

@import "header", "body", "footer"
  
@import no-js

  
html
  background-color: #fff
  
body
  background-color: #fff
  font-family: $primary-font
  font-size: 15px
  font-weight: normal
  color: $primary-text-color
  width: 100%

.container
  margin: 0 auto
  width: 970px
  +respond-to(phone)
    width: auto
    padding-left: 15px
    padding-right: 15px
  +respond-to(tablet)
    width: auto
    padding-left: 15px
    padding-right: 15px

.clearfix::after
  content: ""
  display: table
  clear: both
  
