.clearence-collection
 .container
  .clearence-collection__title-container
    .clearence-collection__title
  .clearence-collection-items
    - each item in clearence
      +collection-item("clearence-collection-item", item)
 