-var classify = function(text) { return text.toLowerCase().replace(" ", "-").replace("+", "plus") }

footer(class="main-footer")
  .credit-cards
    .container
      ul  
        li(class="credit-cards__list") We accept
        each card in ["Visa","MasterCard","Paypal","American Express","Visa Electron","Laser","Maestro","Delta","Solo","ID","DK"]
          li(class=classify(card), class="credit-cards__list", title=card)
        
  .main-footer--top
    .container
      .main-footer--top--wrapper
        .main-footer--top__wrapper-of-services
          h4(class="main-footer--top__list-header") Customer Service
          ul
            li: a(href="#", class="main-footer--top__link") Contact
            li: a(href="#", class="main-footer--top__link") FAQ
            li: a(href="#", class="main-footer--top__link") Terms of payment
            li: a(href="#", class="main-footer--top__link") Terms of sale
            li: a(href="#", class="main-footer--top__link") Delivery terms and conditions
            li: a(href="#", class="main-footer--top__link") Returns and Refunds
        .main-footer--top__wrapper-of-services
          h4(class="main-footer--top__list-header") Information
          ul
            li: a(href="#", class="main-footer--top__link") Affiliate
            li: a(href="#", class="main-footer--top__link") Cookies
            li: a(href="#", class="main-footer--top__link") How to Shop
            li: a(href="#", class="main-footer--top__link") About Nelly
            li: a(href="#", class="main-footer--top__link") Investor relations
        .main-footer--top__wrapper-of-services
          h4(class="main-footer--top__list-header") Campaigns
          ul
            li: a(href="#", class="main-footer--top__link") Evening dresses
            li: a(href="#", class="main-footer--top__link") Makeup
            li: a(href="#", class="main-footer--top__link") Fashion forward
            li: a(href="#", class="main-footer--top__link") Training clothes
            li: a(href="#", class="main-footer--top__link") Special Occasion Dresses
        .main-footer--top__wrapper-of-services
          h4(class="main-footer--top__list-header") Stores
          ul
            li: a(href="#", class="main-footer--top__link") Paris
            li: a(href="#", class="main-footer--top__link") New York
            li: a(href="#", class="main-footer--top__link") London
            li: a(href="#", class="main-footer--top__link") Madrid
            li: a(href="#", class="main-footer--top__link") Tokio
      .main-footer--top__wrapper-of-socials
        h4(class="main-footer--top__list-header") Social
        ul(class="main-footer--top__list-if-icons")
          each icon in ["Twitter","Pinterest","Facebook","Google+","Tumblr","Vimeo"]
            li: a(href="#", class="icon main-footer--top__social-icon", class="icon__"+classify(icon), title=icon)
        .secured-quarantee
      
  .main-footer--bottom
    .container
      a(href="#", class="footer__burger-menu")
      .service
        a(href="#", class="service__link") Privacy &amp; Cookies
        a(href="#", class="service__link") Terms &amp; Conditions
        a(href="#", class="service__link") Assebility
        a(href="#", class="service__link") Store Directory
        a(href="#", class="service__link") About Us
      .copyright
        span &copy; LookShop.com
        br
        span All Rights Reserved
        
