.gallery-collection
  ul(class="gallery-collection__navigation")
    li: a(href="#products.html", class="gallery-collection__navigation-link gallery-collection__navigation-link--active") What's hot?
    li: a(href="#products.html", class="gallery-collection__navigation-link") Designers
    li: a(href="#products.html", class="gallery-collection__navigation-link") Featured
    li: a(href="#products.html", class="gallery-collection__navigation-link") Latest
  .gallery-collection-items
    - each item in galleryHot
      +collection-item("gallery-collection-item", item)
  .gallery-collection-pagination
    ul(class="gallery-collection-pagination__list")
      li: a(href="#" class="gallery-collection-pagination__link")
      li: a(href="#" class="gallery-collection-pagination__link--active")
  