header(class="main-header")
  div(class="main-header-top clearfix")
    .container
      .main-header-top__tel Custom care: 
        a(href="tel:888-23-4567") 888-23-4567
      .main-header-top__info
        .main-header-top__currency
         .main-header-top__currency--current $ USD
         .main-header-top__currency-menu 
          a(href="#", class="main-header-top__currency-dollars") $ USD
          a(href="#", class="main-header-top__currency-belrubles") Бел.руб

        a(href="#", class="main-header-top__account") My account
        
        form(class="main-header-top__search-form")
          input(
            type="search"
            name="search"
            autocomplete="on"
          )
          button(type="submit", value="search")
  
  .main-header-bottom
    .container
      .logo
      .cart 
        h3(class="cart-header") Your cart
        ul(class="cart-items")
          li(class="cart-items__list")
            span(class="cart-items__name") Lovely dress
            span(class="cart-items__price") 30$
          li(class="cart-items__list")
            span(class="cart-items__name") Lovely dress
            span(class="cart-items__price") 30$
        a(href="#", class="cart__information")
          span.cart-items-cost $ 1
          span Buy 1 item(s)
          
      -var nav= {"new":"#", "designers":"#", "women":"#", "men":"#", "clearence":"#"}
      -var womenClothes= ["dresses", "shorts", "sweaters"]
      -var menClothes= ["shorts", "sweaters"]

      nav(class="main-navigation")
        h3 Menu
        ul(class="main-navigation__list")
          each linkPath, linkName in nav
            li
              a(href=linkPath, class="main-navigation__link") #{linkName}
              ul(class="main-navigation__sublist")
                -var clothes = linkName == "men" ? menClothes : womenClothes
                each item in clothes
                  li: a(href="#products.html", class="main-navigation__sublink") #{item}

