doctype html
//[if IE 9 ]><html class="ie9 no-js desktop"><![endif]
//[if (gt IE 9)|!(IE)]>
html(class="no-js desktop")
  //<![endif]
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
    link(rel="stylesheet", href="stylesheets/main.css")
  body(ontouchstart="")
    include header
            
    block content

    include footer
    script(type="text/javascript", src="javascripts/main.js")
    script.
      document.documentElement.className = document.documentElement.className.replace("no-js", "js");
      var hasTouch = 'ontouchstart' in window;
      if (hasTouch) document.documentElement.className = document.documentElement.className.replace("desktop", "touch");
