extends ./include_jade/template

block title 
  title Главная

block content
  //-Как выбрать кодеки для видео, нужно ли конвертировать видео в несколько вариантов, надо ли задавать ширину и высоту для адаптивной\резиновой верстки, написать код, при котором если видео не проигрывается по каким-либо причинам - сразу ставить картинку (иначе видео проигрывается до конца и только тогда появляется картинка)
  .wrappers
    .video-wrapper
      video(autoplay)
       //-MP4 для Safari, Firefox, IE9, iPhone, iPad, Android, и Windows Phone 7
       source(src="video/summer-woman-collection.mp4", type="video/mp4")
       //- WebM/VP8 для Firefox4, Opera, и Chrome
       source(src="video/summer-woman-collection.webm", type="video/webm")
       //- Ogg/Vorbis для старых версий браузеров Firefox и Opera
       source(src="video/summer-woman-collection.ogv", type="video/ogg")
    .main-photo-wrapper
      img(src="pic/main-photo.jpg", class="main-photo", width="1200", height="440", alt="Crazy summer collection")
      a(href="#" class="shop-btn add-btn") Shop now
  .contacts
   .container
    .subscribe
      form
        label(class="subscribe__title") Stay updated
        input(type="email", name="email", class="subscribe__email", placeholder="Your email address")
        button(type="submit", value="submit-email", class="subscribe__submit-btn") Add your email address
    .contacts__social-life
      span Find us here
      ul
        li: a(href="#", class="icon contacts__social-life-icon-fb", title="facebook")
        li: a(href="#", class="icon contacts__social-life-icon-tw", title="twitter")
        li: a(href="#", class="icon contacts__social-life-icon-pinterest", title="pinterest")
  .collections
    .container
      a(href="#products.html", class="collection-1 collections-link"): img(src="pic/collection-1.jpg" width="484", height="340", alt="best outfits and looks")
      a(href="#products.html", class="collection-2 collections-link"): img(src="pic/collection-2.jpg" width="484", height="169", alt="summer party collection")
      a(href="#products.html", class="collection-3 collections-link"): img(src="pic/collection-3.jpg" width="241", height="169", alt="best sellers")
      a(href="#products.html", class="collection-4 collections-link"): img(src="pic/collection-4.jpg", width="241", height="169", alt="fall leather")
      a(href="#products.html", class="shop-btn collection-4__shop-btn")
  
  mixin collection-item(itemClass, item)
    -var saleClass = item.sale ? "sale " : ""
    -var classes = saleClass + itemClass
    .collection-item(class=classes)
        a(href="#", class="collection-item__image"): img(src= item.image, width="220", height="290", alt= item.name)
        a(class="collection-item__title")= item.name
        span(class="collection-item__price")= item.price
        a(href="#", class="add-btn") Add to cart
 
  include ./include_jade/gallery-collection
  include ./include_jade/clearence-collection
  
  .favourite-brands
    .container
      .favourite-brands__title-container
        h2(class="favourite-brands__title") Favourite brands
        
      -var classify = function(text) { return text.toLowerCase().replace(" ", "-").replace("+", "plus") }
      ul(class="favourite-brands__list")
        each icon in ["Addict","Abandon Ship","Adidas","Boy London","Converse","Calvin Klein","Edwin","Grenson"]
          li(class="icon favourite-brands__icons", class="favourite-brands__icon_"+classify(icon), title=icon)
          
  .about-shop
    .container
      h2(class="about-shop__title") About LookShop
      p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. 